
.bg-carousel{
    background-color: #fceae8;
}
.button-bg{
    background-color: #ff3f8b;
    color: white;
}
.categories{
    color: white;
    border-radius: 10px;
}
.categories-bg-watch{
    background-color: #ffa500;
}
.categories-bg-shoes{
    background-color: #da70d6;
}
.categories-bg-backpack{
    background-color: #0000ff;
}
.subscirbe-bg{
    background-color: #fceae8;
}